*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
#replay{
    position: absolute;
    top:0;
    right: 0;
    cursor: pointer;
    user-select: none;

}
#replay i{
    transition: transform 0.5s;
    margin-left: 2px;
    display: none;
}
#replay i:hover{
    transform: scale(1.2);
}
#input{
    position: fixed;
    z-index: 1000;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input .container{
    padding: 20px;
    border: 1px black solid;
    border-radius: 5px;
}
#input .create{
    text-align: center;
}
#input .create button{
    padding: 2px;
    width: 50%;
}
#input .contact{
    text-align: right;
}
#input .container > *{
    margin-top: 10px;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper .container{
    position: relative;
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
#wrapper span{
    display: block;
    width: 2px;
    height: 20px;
    padding: 2px;
    cursor: pointer;
    background-color: black;
}
#wrapper span:last-child{
    opacity: 0;
    cursor: auto;
}
#wrapper .human{
    display:  none;
    position: absolute;
    width: 50px;
    transform: translate(-100px, -50px);
    transition: transform 1s;
}
img{
    width: 100%;
}